/* Overrides */

body {
  margin: 0px;
}

/* Typograpy */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

/* Spacing */
:root {
  --spacing-base: 2px;
}

.max-w-lg {
  max-width: calc(var(--spacing-base) * 400);
}

.p-sm {
  padding: calc(var(--spacing-base) * 2);
}

.p-md {
  padding: calc(var(--spacing-base) * 4);
}

.p-lg {
  padding: calc(var(--spacing-base) * 8);
}

.px-sm {
  padding: calc(var(--spacing-base) * 2);
}

.px-md {
  padding: calc(var(--spacing-base) * 4);
}

.px-lg {
  padding: calc(var(--spacing-base) * 8);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.min-h-screen {
  min-height: 100vh;
  min-height: 100svh;
}